@font-face {
    font-family: 'Poppins';
    src:local('Poppins-Regular.ttf'), 
        url("../fonts/Poppins/Poppins-Regular.ttf") format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary: #232323;
    --alt: rgb(149, 69, 202);
    --bg: #fbfbfb;

}

body {
    font-family: 'Poppins', 'sans serif';
    
}


/* ------ Header ------*/
.header {
    width: 100vw;
    overflow: hidden;
}

.nav_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5em;
}

.title_logo {
    font-size: 2em;
    font-weight: 900;
    color: var(--primary);
}

.title_logo span {
    color: var(--alt);
}

.movil_title_logo {
    background-color: var(--bg);
    padding: 5px 20px;
    font-size: .8em;
}

.icon {
    width: 3em;
    cursor: pointer;
}

.menu {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
    background-color: var(--primary);
    height: 100vh;
    z-index: 1;
    transform: translate(-100%);
    transition: all 0.5s ease-in-out;
}

.show-menu {
    transform: translateX(0%);
}

.links {
    list-style: none;
    margin-bottom: 3em;
}

.items {
    font-size: 1.2em;
    color: var(--bg);
    padding: 1em;
    cursor: pointer;
    text-decoration: none;
}

.active {
    color: var(--alt);
}


/* ------ Primera Seccion ------*/
.primer_section{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: flex-end;
    margin-top: -1em;
    overflow: hidden;
    background-image: url('../img/bg_mobile.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

.info_container{
    width: 100%;
    background-color: #fbfbfbb6;
    padding-bottom: 1.5em;
}

.info_subtitle{
    font-size: 2em;
    color: var(--primary);
    font-weight: bold;
}

.info_title{
    color: var(--alt);
    font-size: 2.5em;
}

.info_texto{
    color: var(--primary);
    font-size: 1.2em;
}


/* ------ Sneakers Seccion ------ */
.sneakers_section{
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sneaker_title{
    color: var(--primary);
    font-size: 2em;
    font-weight: bold;
    padding: .5em;
    border-bottom: 1px solid var(--primary);
}

.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
    height: 100%;
    padding: 60px 0;
    gap: 4em;
    margin-bottom: 2em;
}

.card{
    display: flex;
    flex-direction: column;
}

.cont_img{
    min-width: 200px;
    max-width: 450px;
    height: 250px;
    overflow: hidden;
}

.card h3{
    align-self: flex-start;
    padding-bottom: .5em;
}

.card h3 span{
    font-size: 1.1em;
    font-weight: bold;
}

.card_img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding-bottom: .8em;
}

.btn_card{
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    padding: .5em;
    background-color: var(--alt);
    border-radius: 10px;
    cursor: pointer;
    align-self: center;
    margin-top: 1.5em;
}

.btn_card img{
    width: 1.5em;
} 

.btn_card a{
    text-decoration: none;
    font-size: .9em;
    color: #fff;
}


/* ------ Slider ------*/
.slider{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    padding-bottom: 1.5em;
}

.slider_elements{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    padding: 1rem 2rem;
}

.svg{
    display: flex;
    flex-wrap: nowrap;
    padding-left: 1em;
    gap: .3em;
}

.svg button{
    width: 2.7rem;
    background-color: transparent;
    border: none  ;
    cursor: pointer;
}

.svg button:focus{
    outline: 0;
}

.slider_elements h1{
    color: var(--primary);
    font-size: 2em;
    font-weight: bold;
    padding: .3em;
    border-bottom: 1px solid var(--primary);
}

.slider_img{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
    margin: 2em 0;
}

.imagen{
    width: 90%;
    min-width: 200px;
    max-width: 700px;
    height: 200px;
    object-fit: cover;
}

.slider_img a{
    padding: .5em 3em;
    background-color: var(--alt);
    color: #fff;
    text-decoration: none;
    border-radius: 10px;
    text-align: center;
    font-size: 1em;
}


/* ------ Footer ------ */
.footer{
    display: flex;
    flex-direction: column;
    background: rgb(21, 21, 31);
    width: 100vw;
    overflow: hidden;
    color: var(--bg);
}

.footer_title{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1.5em;
}

.footer_title h1{
    font-size: 2em;
}

.footer_title p{
    font-size: 1em;
    padding: 1em;
}

.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 2.5em;
    padding: 1em 2em;
}

.contact_svg{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contact_svg h2{
    font-size: 1.3em;
    text-align: center;
}

.cont{
    display: flex;
    align-items: center;
    gap: 10px;
}

.contact_svg img{
    width: 1.5em;
    
}

.opening_hours{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;   
}

.opening_hours h2{
    font-size: 1.4em;
}

.linea{
    width: 100%;
    display: flex;
    justify-content:center;
    padding-top: 2em;
}

.linea .lin{
    width: 80%;
    height: 1px;
    border-top: solid rgba(204, 204, 204, 0.4) 1.5px;
}

.info_final{
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    flex-wrap: wrap-reverse;
    padding: 2em 2em;
    gap: 15px;
}

.info_final p{
    font-size: .8em;
}

.logos_follow{
    display: flex;
    gap: 2em;
}
.logos_follow img{
    width: 1.5em;
}


/* ------ Media ------*/
@media screen and (min-width: 480px) {

    .nav_container{
        padding: .5em 1.5em;
    }

    .primer_section{
        align-items: flex-end;
        background-image: url('../img/bg_desk.jpg');
        
    }

    .info_container{    
        padding: 0 0 2em 1em;        
    }

    .cont_img{
        height: 300px;
    }

    .slider_elements h1{
        font-size: 3em;
    }    

    .svg button{
        width: 3.8em;
    }

     .sneaker_title{
        font-size: 2.5em;
    }

    .card h3{
        font-size: 1em;
    }

    .btn_card{
        font-size: 1em;
    }

    .slider h1{
        font-size: 2em;
    }

    .imagen{ 
        height: 350px;
     }

    .contact_svg{
        align-items: flex-start;
    }

    .contact{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
    }

    .info_final p{
        font-size: .9em;
    }
}


@media screen and (min-width: 768px) {

    .primer_section{
        align-items: center;
        background-image: url('../img/bg_desk.jpg');
        
    }

    .info_container{
        text-align: center;
        padding: 3em;
        
    }

    .movil_title_logo, .icon_bar{
        display: none;
    }
    
    .title_logo{
        font-size: 2em;
    }


    .nav_container{
        padding: 1em 2em;
    }

    .menu{
        transform: translateX(0%);
        width: 100%;
        height: 12vh;
        background: none;
        font-size: 1em;
    }

    .menu_cont{
        display: flex;
        justify-content: flex-end;  
        align-items: center;
        width: 100%;
        height: 100%;
    }

    .items{
        color: var(--primary);
    }

    .links{
        margin: 0;
    }

    .active{
        color: var(--alt);
    }

    .cont_img{
        height: 300px;
    }

    .svg{
        border-left: 2px solid var(--primary);
    }

    .imagen{ 
        height: 350px;
     }

     .slider_elements{
        padding: 1em 7em;
     }
    
     .slider_img a{
        width: 25%;
     }

    .footer_title p{
        width: 70%;
      }

    .contact_svg{
        align-items: flex-start;
    }

    .contact{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
    }

} 
