*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*SECCION NAVEGACION*/
header{
    background: rgba(0, 0, 0, 0.2);
    width: 100%;
    position: fixed;
    z-index: 100;
    font-family: sans-serif;
}
nav ul{
    font-size: 1.1rem;
    margin-left: 5rem;
}
nav li{
    display: inline-block;
    padding: 20px 0;
}
nav li a{
   color: #000;
   text-decoration: none;  
   margin: 0 15px;
}
nav #ss{
    font-size: 1.5rem;
    font-weight: 800;
    margin-left: 15%;
}
p{
    margin-bottom: 20px;
}
/* nav{
    float:left;
}
nav ul{
    list-style: none;
    overflow: hidden;
}
nav ul li{
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
nav ul li a{
    display: block;
    padding: 20px;
    color: black;
    text-decoration: none;
}
 */
/*SECCION CONTENIDO*/
.contenido{
    height: 100vh;
    padding-top: 60px;
    overflow: hidden;
}
.circle1{
    width: 700px;
    height:700px;
    border-radius: 50%;
    background-color: rgba(149, 69, 202, 0.6);
    position: absolute;

    top: -15%;
    left: 62%;
}
.circle2{
    width: 65px;
    height: 65px;
    border-radius: 50%;
    background-color: skyblue;
    position: absolute;

    top: 85%;
    left: 75%;
}
.circle3{
    width: 65px;
    height: 65px;
    border-radius: 50%;
    background-color: rgba(255, 170, 0, 0.5);
    position: absolute;

    top: 60%;
    left: 60%;
}
.contenido .text{
    position: absolute;
    top: 50%;
    left: 12%;
    font-family: sans-serif;
}
.contenido .text h1{
    font-size: 5rem;
    font-weight: 800;
}
.contenido .text h2{
    font-weight: 100;   
}
.contenido2{
    width: 80%;
    margin: auto;
    font-family: sans-serif;
}
.contenido2 h1{
    font-size: 3rem;
    font-weight: 700;
}

/* SECCION FOOTER */
footer{
    font-family: sans-serif;
    background: rgb(21, 21, 31);
    overflow: hidden;
}
footer h1{
    color: #fff;
    font-size: 2.5rem;
    font-weight: 600;
    text-align: center;
    padding: 15px;
    margin-bottom: 30px;
}
 .nv ul{
     text-align: center;
     margin-bottom: 30px;
     font-size: 1.1rem;
     font-weight: normal;
 }
 .nv li{
     display: inline-block;
     margin: 10px 10px;
}
.nv li a{
    color: #ccc;
    text-decoration: none;
}
.linea{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}
.linea .lin{
    width: 75%;
    height: 1px;
    border-top: solid rgba(204, 204, 204, 0.4) 1.5px;
}
footer p{
    margin-left: 12.5%;
    color: #CCC;
    padding-bottom: 3rem;
}